<h2><%= @instructionguide.name %></h2>

<%= link_to "New Step", new_instructionguide_step_path(@instructionguide) %>

<h2>Steps</h2>

<ul id='steps'>
  <% @instructionguide.steps.each do |step| %>
    <li>
      #<%= step.id %> -
      <%= link_to step.title, [@instructionguide, step] %>
    </li>
   <% end %>
</ul>

